    /* #1B264F
    #1D4E89
    #4EA5D9
    #7EC4CF
    #A3C3D9 */

    .navbar {
        background-color: #A3C3D9;
        margin: 0;
        padding: 0px;
    }
    li {
       height: 80px;
       width: 80px;
       text-align: right;
       padding: 5px;
    }
    .nav-link {
      text-decoration: uppercase;
      color: white;
      text-align: left;
      font-size: 10px;
    }
    li > img {
      text-align: right;
      height: 24px;
      width: 24px;
    }
 
    .btn {
      border: 1px solid #4EA5D9;
      background-color: #7EC4CF;
      border-radius: 13px;
      font-size: 10px;
    }
    .btn > img {
      height: 12px;
      width: 12px;
      margin-right: 2px;
 
    }
    .active {
      background-color: white;
      color: black;
    }
     h5 {
      color: #4EA5D9;
      text-align: left;
      text-transform: uppercase;
    }
     h6 {
      color: #4EA5D9;
      text-align: left;
      text-transform: uppercase;
      font-size: small;
    }
    
    .col-md-3 {
      border-bottom: 1px solid #4EA5D9;
      margin-right: 30px;
      
    }
    .col-sm-2 > img {
      height: 20px;
      width: 20px;
 
    }
    .col-sm-2, .col-sm-8{
      display: inline-block;
      margin: 0;
      padding: 0px;
    }