<style>
    /* #1B264F
    #1D4E89
    #4EA5D9
    #7EC4CF
    #A3C3D9 */

   .navbar {
       background-color: #A3C3D9;
       margin: 0;
       padding: 0px;
   }
   li {
      height: 80px;
      width: 80px;
      text-align: right;
      padding: 5px;
   }
   .nav-link {
     text-decoration: uppercase;
     color: white;
     text-align: left;
     font-size: 10px;
   }
   li > img {
     text-align: right;
     height: 24px;
     width: 24px;
   }

   .btn {
     border: 1px solid #4EA5D9;
     background-color: #7EC4CF;
     border-radius: 13px;
     font-size: 10px;
   }
   .btn > img {
     height: 12px;
     width: 12px;
     margin-right: 2px;

   }
   .active {
     background-color: white;
     color: black;
   }
    h5 {
     color: #4EA5D9;
     text-align: left;
     text-transform: uppercase;
   }
    h6 {
     color: #4EA5D9;
     text-align: left;
     text-transform: uppercase;
     font-size: small;
   }
   
   .col-md-3 {
     border-bottom: 1px solid #4EA5D9;
     margin-right: 30px;
     
   }
   .col-sm-2 > img {
     height: 20px;
     width: 20px;

   }
   .col-sm-2, .col-sm-8{
     display: inline-block;
     margin: 0;
     padding: 0px;
   }
</style>
<body>
  <nav class="navbar navbar-expand-md">
    
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" style="background-color: #1B264F;">
          <img src="../assets/home.png">
          <a class="nav-link" href="#">HOME PAGE</a>
        </li>
        <li class="nav-item" style="background-color: #1D4E89;">
          <img src="../assets/target.png">
          <a class="nav-link" routerLink="/shortlist">SHORTLIST TARGETS</a>
        </li>
        <li class="nav-item" style="background-color: #4EA5D9;">
          <img src="../assets/group.png">
          <a class="nav-link" routerLink="/rm">ASSIGN RMs</a>
        </li>
        <li class="nav-item" style="background-color: #7EC4CF;">
          <img src="../assets/product.png">
          <a class="nav-link" routerLink="impact">MEASURE IMPACT</a>
        </li>    
      </ul>
      <ul class="navbar-nav ml-auto">
        <a class="nav-link" href="#"><img src="../assets/user.png" style="height: 12px; width: 12px; margin-right: 5px;">Manager</a>
      </ul>
      <ul class="navbar-nav">
        <div class="btn-group" role="group">
          <a type="button" class="btn active"><img src="../assets/blue/focus.png">New Customers</a>
          <a type="button" class="btn"><img src="../assets/tick.png">Existing Customers</a>
        </div>
      </ul>
  </nav>
<div class="container" style="margin-left: 10%;"><br><br>
  <router-outlet></router-outlet>
    <!-- <div class="row">
      <div class="col-md-3">
        <img src="../assets/blue/search.png" style="height: 50px; width: 50px;">
        <h5>POTENTIAL LEADS</h5>
      </div>
      <div class="col-md-3">
        <img src="../assets/blue/progress.png" style="height: 50px; width: 50px;">
        <h5>IMPACT</h5>
      </div>
      <div class="col-md-3">
        <img src="../assets/blue/performance.png" style="height: 50px; width: 50px;">
        <h5>RMs PERFORMANCE</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="col-sm-2" style="text-align: left;"><img src="../assets/blue/search.png"></div>
        <div class="col-sm-8" style="text-align: left;"><h6>prospects identified</h6></div>
        <div class="col-sm-2" style="text-align: right;"><b>20.000</b></div>
      </div>
      <div class="col-md-3">
        <div class="col-sm-2" style="text-align: left;"><img src="../assets/blue/progress.png"></div>
        <div class="col-sm-8" style="text-align: left;"><h6>total customers acquired</h6></div>
        <div class="col-sm-2" style="text-align: right;"><b>1506</b></div>
      </div>
      <div class="col-md-3">
        <div class="col-sm-2" style="text-align: left;"><img src="../assets/blue/performance.png"></div>
        <div class="col-sm-8" style="text-align: left;"><h6>total leads provided</h6></div>
        <div class="col-sm-2" style="text-align: right;"><b>15.506</b></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="col-sm-2" style="text-align: left;"><img src="../assets/blue/search.png"></div>
        <div class="col-sm-8" style="text-align: left;"><h6>number of leads</h6></div>
        <div class="col-sm-2" style="text-align: right;"><b>10.546</b></div>
      </div>
      <div class="col-md-3">
        <div class="col-sm-2" style="text-align: left;"><img src="../assets/blue/progress.png"></div>
        <div class="col-sm-8" style="text-align: left;"><h6>total potential business generated</h6></div>
        <div class="col-sm-2" style="text-align: right;"><b>105.5Mn</b></div>
      </div>
      <div class="col-md-3">
        <div class="col-sm-2" style="text-align: left;"><img src="../assets/blue/performance.png"></div>
        <div class="col-sm-8" style="text-align: left;"><h6>leads in progress</h6></div>
        <div class="col-sm-2" style="text-align: right;"><b>105</b></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="col-sm-2" style="text-align: left;"><img src="../assets/blue/search.png"></div>
        <div class="col-sm-8" style="text-align: left;"><h6>number of onboarding</h6></div>
        <div class="col-sm-2" style="text-align: right;"><b>540</b></div>
      </div>
      <div class="col-md-3">
        <div class="col-sm-2" style="text-align: left;"><img src="../assets/blue/progress.png"></div>
        <div class="col-sm-8" style="text-align: left;"><h6>potential revenue impact</h6></div>
        <div class="col-sm-2" style="text-align: right;"><b>90Mn</b></div>
      </div>
      <div class="col-md-3">
        <div class="col-sm-2" style="text-align: left;"><img src="../assets/blue/performance.png"></div>
        <div class="col-sm-8" style="text-align: left;"><h6>leads converted</h6></div>
        <div class="col-sm-2" style="text-align: right;"><b>90</b></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" style="border-bottom: transparent;"><br>
        <div class="btn btn-primary" style="background-color: #1B264F; text-decoration: none; border-radius: 0;">DEEP DIVE</div>
      </div>
      <div class="col-md-3" style="border-bottom: transparent;"></div>
      <div class="col-md-3" style="border-bottom: transparent;">
        <div class="col-sm-2" style="text-align: left;"><img src="../assets/blue/performance.png"></div>
        <div class="col-sm-8" style="text-align: left;"><h6>conversion rate</h6></div>
        <div class="col-sm-2" style="text-align: right;"><b>8%</b></div>
      </div>
    </div> -->
</div>

</body>